body {
    background-image: $background;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    #title {
        text-align: center;
        font-size: size(50);
        font-family: $rajdhani;
        color: $light-blue;
        text-shadow: 0 0 30px $light-blue;
        margin: 0.5em 0;
    }
}