// -----------
// Fonts
// -----------

@font-face {
    font-family: 'Rajdhani';
    src: url('../../assets/fonts/Rajdhani-Medium.eot');
    src: url('../../assets/fonts/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Rajdhani-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Rajdhani-Medium.woff') format('woff'),
        url('../../assets/fonts/Rajdhani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../../assets/fonts/Rajdhani-SemiBold.eot');
    src: url('../../assets/fonts/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/Rajdhani-SemiBold.woff') format('woff'),
        url('../../assets/fonts/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

$rajdhani: 'Rajdhani';

// -----------
// Variables
// -----------

$defaultFontSize: 16;

// Images
$cursor: url("../../assets/img/cursor.png");
$background: url("../../assets/img/background.png");

$cell_blue: url("../../assets/img/cell/blue.png");
$cell_imm_blue: url("../../assets/img/cell/imm_blue.png");
$cell_red: url("../../assets/img/cell/red.png");
$cell_imm_red: url("../../assets/img/cell/imm_red.png");
$cell_empty: url("../../assets/img/cell/empty.png");
$cell_hover: url("../../assets/img/cell/hover.png");
$cell_error: url("../../assets/img/cell/error.png");

// Typography
//$sofia: 'Sofia Pro';

// Colors
$white: #FCFEFF;
$black: #06040D;
$blue: #00B8FF;
$light-blue: #90F5F9;
$red: #BF2F20;
$light-red: #FF746D;

// Transitions
$ease: all 400ms ease-in-out;