// -----------
// Fonts
// -----------

@font-face {
    font-family: 'Rajdhani';
    src: url('../../../assets/fonts/Rajdhani-Medium.eot');
    src: url('../../../assets/fonts/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/Rajdhani-Medium.woff2') format('woff2'),
        url('../../../assets/fonts/Rajdhani-Medium.woff') format('woff'),
        url('../../../assets/fonts/Rajdhani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../../../assets/fonts/Rajdhani-SemiBold.eot');
    src: url('../../../assets/fonts/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../../../assets/fonts/Rajdhani-SemiBold.woff') format('woff'),
        url('../../../assets/fonts/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// -----------
// Variables
// -----------

$defaultFontSize: 16;

// Width

// Typography
//$sofia: 'Sofia Pro';

// Couleurs
$blanc: #FFFFFF;
$bleu: #18365F;
$noir: #202020;
$bleufonce: #1C2D44;
$gris: #DCD8D1;
$beige: #F5F3EF;


// TRANSITIONS
$trans1: all 400ms ease-in-out;