.center_container {
    width: 50% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
        border-radius: 1em;
        background: rgba($black, 0);
        outline: 5em solid $light-blue;
        box-shadow: 0 0 15px 20px rgba($black, 0.4);
        color: $red;
        justify-content: center;
        cursor: none;
    }
}