.right_container {
    width: 25% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    align-items: center;
    justify-content: center;

    button {
        width: 100%;
        height: 50px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        border: none;
        position: relative;
        margin-bottom: 5em;
        padding-left: 15%;
        cursor: pointer;

        .switch_title {
            position: absolute;
            top: -90%;
            left: 25%;
            color: $light-blue;
            font-family: $rajdhani;
            font-size: size(45);
            text-align: center;
            align-items: center;
        }
    }

    .logo {
        margin-bottom: 5em;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            right: 10em;
        }
    }

    .on {
        background-image: $switch_on;
    }

    .off {
        background-image: $switch_off;
    }
}