@font-face {
  font-family: 'Rajdhani';
  src: url("../../assets/fonts/Rajdhani-Medium.eot");
  src: url("../../assets/fonts/Rajdhani-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Rajdhani-Medium.woff2") format("woff2"), url("../../assets/fonts/Rajdhani-Medium.woff") format("woff"), url("../../assets/fonts/Rajdhani-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rajdhani';
  src: url("../../assets/fonts/Rajdhani-SemiBold.eot");
  src: url("../../assets/fonts/Rajdhani-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Rajdhani-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Rajdhani-SemiBold.woff") format("woff"), url("../../assets/fonts/Rajdhani-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.buttons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 1em;
  width: 28%;
  font-family: "Rajdhani";
  color: #00B8FF;
}
.buttons_container button {
  margin-bottom: 5em;
  width: 350px;
  height: 50px;
  background-image: url("../../assets/img/button/blue_dark.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
}

.game_container {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game_container canvas {
  border-radius: 10px;
  background: rgba(0, 184, 255, 0);
  outline: 5px solid #90F5F9;
  -webkit-box-shadow: 0 0 15px 20px rgba(6, 4, 13, 0.4);
          box-shadow: 0 0 15px 20px rgba(6, 4, 13, 0.4);
  color: #BF2F20;
}

body {
  background-image: url("../../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body #title {
  text-align: center;
  font-size: 3.125em;
  font-family: "Rajdhani";
  color: #90F5F9;
  text-shadow: 0 0 30px #90F5F9;
  margin: 0.5em 0;
}
body .switch_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10em 10em;
  width: 28%;
  font-family: "Rajdhani";
  color: #90F5F9;
}
body .switch_container button {
  margin-top: -11em;
  width: 350px;
  height: 50px;
  background-image: url("../../assets/img/switch/on.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
}

/*# sourceMappingURL=style.css.map */